# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
Django/project/migrations/0*.py
Django/project/migrations/__pycache__/*.pyc
Django/core/__pycache__/*.pyc
Django/project/__pycache__/*.pyc
Django/project/static/project/avatar/*
passwd.txt