.container{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    width: calc(100% - 200px);
}

.container .deal_square{
    position: relative;
    top: 50px;
    width: 80%;
    height: 600px;
}

.container .deal_square .list p{
    font-size: 20px;
    margin: 10px;
    word-wrap:break-word
}

@media  screen and  (max-width:768px){
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        margin-left: 0;
        top: 130px;
        width: 100%;
    }
    
    .container .deal_square{
        background-color: white;
        position: relative;
        width: 90%;
        height: fit-content;
        top: 0;
    }
}
