.container{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 200px;
    height: calc(100% - 100px);
    width: calc(100% - 200px);
    padding: 1rem 1rem;
}

.container .main_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container .main_content .item_container{
    width: 50%;
    padding: 1rem 1rem;
}

.container .main_content .item_container:last-child{
    width: 100%;
}

.container .main_content .item {
    z-index: 1;
    border-radius: 0.375rem;
    border: 1px solid rgb(48 86 211 / 30%);
    box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 5%);
    background-color: white;
    padding: 1rem 1rem;
    color:rgb(99 115 129);
}

.container .main_content .item .item_text {
    text-align: center;
    border-bottom: 3px solid #b8c1df;
    font-size: 30px;
}

.container .main_content .item .item_list ul li {
    display: flex;
    justify-content: space-around;
    width: 100%;
    line-height: 45px;
    margin: 10px 0;
    color: black;
    font-size: 20px;
    transition-duration: 1s;
    color: rgb(99 115 129);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .main_content .item .item_list ul li .one{
    width: 50%;
}

.container .main_content .item .item_list ul li .two{
    width: 50%;
    text-align: end;
}



.container .main_content .item .item_list ul li:hover {
    background-color: rgb(200, 200, 209) ;
}

@media  screen and  (max-width:768px){
    .container{
        margin-left: 0;
        height: calc(100% - 100px);
        width:100%;
    }

    .container .main_content{
        z-index: 0;
        position: relative;
        top: 100px;
        width:100%;
        margin:0;
        justify-content: center;
    }
    .container .main_content .item_container{
        width: 100%;
        padding: 1rem 1rem;
    }
    .main_content .item{
        z-index: 0;
        display: inline-block;
        height: 400px;
        width: 100%;
    }

    .main_content .item_text{
        text-align: center;
    }

}