table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container {
    width: calc(100% - 200px);
    height: calc(100% - 100px);
    margin-left: 200px;
}
    
.container .mobile {
    display: none;
}

.container .computer {
    top: 100px;
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
}

.container .computer table {
    width: 80%;
    height: 100%;
}

.container .computer table th {
    text-align: center;
    font-size: 30px;
}

.container .computer table input[type="text"] {
    margin: 0 10px;
    height: 30%;
    background-color: #FCFDFE;
    border: 2px solid #E9EDF4;
    width: 90%;
}

.container .button{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.container .button input{
    width: 240px;
    font-size: 30px;
    background-color: rgb(48 86 211);
    color: white;
    border: none;
    border-radius: 0.375rem;
    margin: 15px 15px;
}


@media screen and (max-width:768px) {
    .container {
        position: relative;
        top: 130px;
        width: 90%;
        margin-left: 0;
        margin: 0 auto;
    }

    .container .computer {
        display: none;
    }

    .container .mobile {
        width: 100%;
        height: 400px;
        display: table;
    }

    .container .mobile .row {
        display: table-row;
        border: 1px solid black;
        text-align: center;
        height: 100px;
    }

    .container .mobile .cell {
        display: table-cell;
        border: 1px solid black;
        font-size: 25px;
        text-align: center;
        vertical-align: middle;
    }

    .container .mobile .start{
        text-align: start;
    }

    .container .mobile .cell input[type="text"] {
        margin: 0 10px;
        height: 30px;
        width: 80%;
        background-color: #FCFDFE;
        border: 2px solid #E9EDF4;
    }

    .container .button{
        margin-top: 10px;
        white-space: nowrap;
    }

    .container .button input{
        width: 140px;
        margin: 0;
    }



}