.container{
    background-color: #eef3f7;
    width: calc(100% - 200px);
    margin-left: 200px;
}

.container .not_finish{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .finish{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .not_finish .proposal{
    position: relative;
    width: 450px;
    height: 350px;
    margin: 20px 20px;
    background-color: white;
    box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 5%);
    border-radius: 0.375rem;
}

.container .not_finish .proposal h3{
    text-align: center;
    max-width: 100%;
    font-size: 30px;
    padding: 10px;
    border-bottom: 3px solid #b8c1df;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .not_finish .proposal ul li{
    display:block;
    padding: 0px 5px;
    font-size: 20px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 2px solid #b8c1df;
    color: rgb(99 115 129);
}

.container .not_finish .proposal ul li:hover{
    background-color: rgb(216, 215, 215);
}

.container .not_finish .proposal .bottom_text{
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 3px;
}

.container .not_finish .proposal .bottom_text a{
    color: #727272;
}

.container .finish .proposal{
    position: relative;
    width: 450px;
    height: 350px;
    margin: 20px 20px;
    background-color: white;
    box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 5%);
    border-radius: 0.375rem;
}

.container .finish .proposal h3{
    text-align: center;
    max-width: 100%;
    font-size: 30px;
    padding: 10px;
    border-bottom: 3px solid #b8c1df;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .finish .proposal ul li{
    display:block;
    padding: 0px 5px;
    font-size: 20px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 2px solid #b8c1df;
    color: rgb(99 115 129);
}

.container .finish .proposal ul li:hover{
    background-color: rgb(216, 215, 215);
}

.container .finish .proposal  .bottom_text{
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 3px;
}

.container .finish .proposal .bottom_text a{
    color: #727272;
}


.plus_proposal{
    position: fixed;
    bottom: 2%;
    right: 1%;
    height: 50px;
    width: 50px;
    background-color: rgb(59 130 246 / 0.5);
    border-radius: 50%;
}


.plus_proposal .center{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.plus_proposal a{
    color: white;
}


@media  screen and  (max-width:768px){    
    .container{
        position: relative;
        max-width: fit-content;
        margin: 0 auto;
        top: 130px;
        text-align: center;
        justify-content: center;
        z-index: 0;
    }

    .container .proposal{
        margin: 10px 0;
        width: 400px;
        height: 300px;
    }

    .container .proposal h3{
        font-size: 25px;
        border-bottom: 1px solid #000;
    }

    .container .proposal ul li{
        line-height: 40px;
        font-size: 18px;
    }

    .container .proposal .bottom_text{
        font-size: 18px;
        
    }

}