.container {
    width: calc(100% - 200px);
    margin-left: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .work {
    position: relative;
    width: 450px;
    height: 355px;
    margin: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 5%);
    border-radius: 0.375rem;
}

.container .work ul li {
    font-size: 30px;
    line-height: 30px;
    padding: 5px;
    background-color: white;
    border-bottom: 2px solid #b8c1df;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .work .description {
    margin: 5px;
    text-align: start;
    font-size: 20px;
    height: 190px;
    overflow: hidden;
    color: rgb(99 115 129);
}

.container .work .bottom{
    width: 100%;
    position: absolute;
    display: block;
    text-align: center;
    bottom: 0;
    font-size: 20px;
    padding: 8px;
}

.container .work .bottom a{
    color: #727272;
}

@media screen and (max-width:768px) {
    .container {
        justify-content: center;
        width: 100%;
        top: 125px;
        margin-left: 0;
    }

    .container .work{       
        width: 400px;
        text-align: center;
        margin: 15px;
    }

    .container .work ul li{
        font-size: 25px;
    }

    .container .work .description{
        height: 200px;
        font-size: 18px;
    }

    .container .work .bottom{
        font-size: 18px;
        padding: 5px;
    }

}