<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Index
    </title>
    <link rel="stylesheet" href="/static/project/css/event_index.css" />
    <link rel="stylesheet" href="/static/project/css/sidebar.css" />
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="background"></div>
    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <h2>專案管理系統</h2>

            <div class="nav_table">
                <ul class="test">
                    <li><a href="event_index.html"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</a></li>
                    <li><a href="myproposal.html"><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</a></li>
                    <li><a href="mywork.html"><i class="icon fa-solid fa-book fa-1x"></i>我的工作</a></li>
                    <li><a href="colla_index.html"><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</a></li>
                    <li><a href=""><i class="icon fa-solid fa-comment fa-1x"></i>社群</a></li>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <li><a href="information.html">主頁</a></li>
                            <li><a href="myproposal.html">我的企劃</a></li>
                            <li><a href="mywork.html">我的工作</a></li>
                            <li><a href="colla_index.html">合作店家</a></li>
                            <li><a href="">社群</a></li>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <li><a href="information.html">個人檔案</a></li>
                            <li><a href="">設定</a></li>
                            <li><a href="">登出</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">
        <h3 class="header_text">XXX 用戶</h3>

        <div class="dot">
            <div class="dot_list">
                <ul>
                    <div class="">
                        <li><a href="information.html">個人檔案</a></li>
                    </div>
                    <div class="">
                        <li><a href="">設定</a></li>
                    </div>
                    <div class="">
                        <li><a href="">登出</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>XXX 用戶</h2>
    </div>

    <!--header end-->

    <!---main content start--->

    <div class="container active">
        
        <div class="main_content">

            <div class="item_container">
                <div class="item">
                    <div class="item_text"><b>近期企劃</b></div>
                    <div class="item_list">
                        <ul>
                            <li>阿拉花瓜_2022/5/5阿拉花瓜_2022/5/5阿拉花瓜_2022/5/5阿拉花瓜_2022/5/5阿拉花瓜_2022/5/5阿拉花瓜_2022/5/5阿拉花瓜_2022/5/5</li>              
                            <li>專案名_時間</li>
                            <li>專案名_時間</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item_container">
                <div class="item">
                    <div class="item_text"><b>近期工作</b></div>
                    <div class="item_list">
                        <ul>
                            <li>asd4a4d9a4ds6as4d65a4sd56asd65a4sd65a46s5d4as65d4as65d4a65d4a65sd46as5d456</li>
                            <li>工作名</li>
                            <li>工作名</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="item_container">
                <div class="item">
                    <div class="item_text"><b>快要到期</b></div>
                    <div class="item_list">
                        <ul>
                            <li>asd4a4d9a4ds6as4d65a4sd56asd65a4sd65a46s5d4as65d4as65d4a65d4a65sd46as5d456asd4a4d9a4ds6as4d65a4sd56asd65a4sd65a46s5d4as65d4as65d4a65d4a65sd46as5d456</li>
                            <li>工作名</li>
                            <li>工作名</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!---main content end--->


    <!-- <div class="container active">
        <div class="main_content">
            <div class="item">
                <div class="item_text"><b>近期企劃</b></div>
                <div class="item_list">

                    <ul>
                        <li>專案名<span style="margin-left: 275px;">時間</span></li>
                        <li>專案名<span style="margin-left: 275px;">時間</span></li>
                        <li>專案名<span style="margin-left: 275px;">時間</span></li>
                    </ul>

                </div>
            </div>

            <div class="item">
                <div class="item_text"><b>近期工作</b></div>
                <div class="item_list">
                    <ul>
                        <li>工作名</li>
                        <li>工作名</li>
                        <li>工作名</li>
                    </ul>
                </div>
            </div>

            <div class="item">
                <div class="item_text"><b>快要到期</b></div>
                <div class="item_list">
                    <ul>
                        <li>工作名</li>
                        <li>工作名</li>
                        <li>工作名</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->




    <!---main content end--->

</body>