<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Index
    </title>
    <link rel="stylesheet" href="/static/project/css/information.css" />
    <link rel="stylesheet" href="/static/project/css/sidebar.css">
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="background"></div>
    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <h2>專案管理系統</h2>

            <div class="nav_table">
                <ul class="test">
                    <li><a href="event_index.html"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</a></li>
                    <li><a href="myproposal.html"><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</a></li>
                    <li><a href="mywork.html"><i class="icon fa-solid fa-book fa-1x"></i>我的工作</a></li>
                    <li><a href="colla_index.html"><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</a></li>
                    <li><a href=""><i class="icon fa-solid fa-comment fa-1x"></i>社群</a></li>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <li><a href="information.html">主頁</a></li>
                            <li><a href="myproposal.html">我的企劃</a></li>
                            <li><a href="mywork.html">我的工作</a></li>
                            <li><a href="colla_index.html">合作店家</a></li>
                            <li><a href="">社群</a></li>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <li><a href="information.html">個人檔案</a></li>
                            <li><a href="">設定</a></li>
                            <li><a href="">登出</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">
        <h3 class="header_text">XXX 用戶</h3>

        <div class="dot">
            <div class="dot_list">
                <ul>
                    <div class="">
                        <li><a href="information.html">個人檔案</a></li>
                    </div>
                    <div class="">
                        <li><a href="">設定</a></li>
                    </div>
                    <div class="">
                        <li><a href="">登出</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>XXX 用戶</h2>
    </div>

    <!--header end-->

    <!--content-->
    <div class="container">
        <div class="computer">
            <table cellpadding=5 cellspacing=1>
                <tr>
                    <th colspan="4">個人資料</th>
                </tr>

                <tr>
                    <th style="width:20%;">姓名</th>
                    <td style="width:50%;"><input type="text"></td>
                    <td style="width:30%; text-align:center;" rowspan="2"><img src="https://picsum.photos/300/300" alt=""> </td>
                </tr>

                <tr>
                    <th>信箱</th>
                    <td><input type="text"></td>
                </tr>

            </table>
        </div>

        <div class="mobile">

            <div class="row">
                <div class="cell">頭像</div>
                <div class="cell start" style="text-align:center;"><img src="https://picsum.photos/200/200" alt=""></div>
            </div class="row">

            <div class="row">
                <div class="cell">姓名</div>
                <div class="cell start"><input type="text"></div>
            </div class="row">

            <div class="row">
                <div class="cell">信箱</div>
                <div class="cell start"><input type="text"></div>
            </div class="row">

            <div class="row">
                <div class="cell">地址</div>
                <div class="cell start"><input type="text"></div>
            </div class="row">


        </div>

        <div class="button">
            <input type="button" value="編輯">
            <input type="button" value="確定">
        </div>


    </div>