<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    </title>
    <link rel="stylesheet" href="/static/project/css/myproposal.css" />
    <link rel="stylesheet" href="/static/project/css/sidebar.css" />
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- background start -->
    <div class="background"></div>
    <!-- background end -->

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <h2>專案管理系統</h2>

            <div class="nav_table">
                <ul class="test">
                    <li><a href="event_index.html"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</a></li>
                    <li><a href="myproposal.html"><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</a></li>
                    <li><a href="mywork.html"><i class="icon fa-solid fa-book fa-1x"></i>我的工作</a></li>
                    <li><a href="colla_index.html"><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</a></li>
                    <li><a href=""><i class="icon fa-solid fa-comment fa-1x"></i>社群</a></li>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <li><a href="information.html">主頁</a></li>
                            <li><a href="myproposal.html">我的企劃</a></li>
                            <li><a href="mywork.html">我的工作</a></li>
                            <li><a href="colla_index.html">合作店家</a></li>
                            <li><a href="">社群</a></li>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <li><a href="information.html">個人檔案</a></li>
                            <li><a href="">設定</a></li>
                            <li><a href="">登出</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">

        <h3 class="header_text">我的企劃</h3>

        <div class="dot">
            <div class="dot_list">
                <ul>
                    <div class="">
                        <li><a href="information.html">個人檔案</a></li>
                    </div>
                    <div class="">
                        <li><a href="">設定</a></li>
                    </div>
                    <div class="">
                        <li><a href="">登出</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>我的企劃</h2>
    </div>

    <!--header end-->
    <div class="container">

        <h2 style="position: relative; text-align: center; margin-top: 15px;">
            _未完成_
        </h2>

        <div class="not_finish">
            <div class="proposal">
                <h3>sdsdsdsdsdsdsdsdsdsdsdssddsdsdsdsdssdssdsdsd</h3>
                <ul>
                    <li>dsdsdsdsdsdsdsdsdsdsdsdsdsdssdsdssdsdsds</li>
                    <li>工作二</li>
                    <li>dsdsdsdsdsdsdsdsdsdsdsdsdsdssdsdssdsdsds</li>
                    <li>dsdsdsdsdsdsdsdsdsdsdsdsdsdssdsdssdsdsds</li>
                    <li>dsdsdsdsdsdsdsdsdsdsdsdsdsdssdsdssdsdsds</li>
                </ul>

                <div class="bottom_text">
                    <a href="proposal_checked.html"><i class="fa-solid fa-ellipsis "></i>檢視完整企劃</a>
                </div>
            </div>

        </div>




        <h2 style="position: relative; text-align: center; top: 5px;">
            _完成_
        </h2>

        <div class="finish">

            <div class="proposal">
                <h3>sdsdsdsdsdsdsdsdsdsdsdssddsdsdsdsdssdssdsdsd</h3>
                <ul>
                    <li>dsdsdsdsdsdsdsdsdsdsdsdsdsdssdsdssdsdsds</li>
                    <li>工作二</li>
                    <li>dsdsdsdsdsdsdsdsdsdsdsdsdsdssdsdssdsdsds</li>
                    <li>dsdsdsdsdsdsdsdsdsdsdsdsdsdssdsdssdsdsds</li>
                    <li>dsdsdsdsdsdsdsdsdsdsdsdsdsdssdsdssdsdsds</li>
                </ul>

                <div class="bottom_text">
                    <a href="proposal_checked.html"><i class="fa-solid fa-ellipsis "></i>檢視完整企劃</a>
                </div>
            </div>

        </div>

    </div>

    <div class="plus_proposal">
        <a href="proposal_create.html"><i class="fa-solid fa-plus fa-2x center "></i></a>
    </div>



</body>

</html>