<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    </title>
    <link rel="stylesheet" href="../static/project/css/myproposal.css" />
    <link rel="stylesheet" href="../static/project/css/sidebar.css" />
    <link rel="stylesheet" href="../static/project/css/dot2.css">
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
    <script>
        async function input() {
            var name = prompt("請輸入邀請碼");
            message = {}
            const request = new Request(
            `/proposal_join/${name}`,
            {
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin' // Do not send CSRF token to another domain.
            }
            );
            await fetch(request).then(function(response) {
                response.json().then(data => {
                    alert(data.message);
                    if (data.status === 'success'){
                        location.reload();
                    }
                })
            });
            
        }
    </script>
    
</head>

<body>
    {% csrf_token %}
    <script defer>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>
    <div class="background"></div>

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="../static/project/images/logo/logoE.svg" alt="">
            </div>

            <div class="nav_table">
                <ul class="test">
                    <a href="/event_index">
                        <li style="opacity: 0.7;"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</li>
                    </a>
                    <a href="/myproposal">
                        <li><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</li>
                    </a>
                    <a href="/mywork">
                        <li><i class="icon fa-solid fa-book fa-1x"></i>我的工作</li>
                    </a>
                    <a href="/colla_index">
                        <li><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</li>
                    </a>
                    <a href="/social_index">
                        <li><i class="icon fa-solid fa-comment fa-1x"></i>社群</li>
                    </a>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <a href="/information">
                                <li>主頁</li>
                            </a>
                            <a href="/myproposal">
                                <li>我的企劃</li>
                            </a>
                            <a href="/mywork">
                                <li>我的工作</li>
                            </a>
                            <a href="/colla_index">
                                <li>合作店家</li>
                            </a>
                            <a href="/social_index">
                                <li>社群</li>
                            </a>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <a href="/information">
                                <li>個人檔案</li>
                            </a>
                            <a href="/">
                                <li>設定</li>
                            </a>
                            <a href="/logout">
                                <li>登出</li>
                            </a>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="/#"><i class="fa-brands fa-facebook"></i></a>
                <a href="/#"><i class="fa-brands fa-github"></i></a>
                <a href="/#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">

        <div class="detail">
            我的企劃
        </div>

        <div class="header_text">
            <b>{{user.user_name}}用戶</b>
        </div>


        <div class="dot">
            <div class="dot_list">
                <ul>
                    <a href="/information">
                        <li>個人檔案</li>
                    </a>
                    <a href="/">
                        <li>設定</li>
                    </a>
                    <a href="/logout">
                        <li>登出</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>{{user.user_name}}用戶</h2>
    </div>

    <!--header end-->
    
    <div class="container">

        <h2 style="position: relative; text-align: center; margin-top:10px;">
            _未完成_
        </h2>

        <div class="not_finish">
            {% for pair in not_finished %}
            <div class="proposal">
                <h3>{{ pair.activity_object.activity_name }}</h3>
                <ul>
                    {% for job in pair.jobs %}
                    <li><div style="
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    "><div>{{job.title}}</div><div>{{job.dead_line}}</div></div>
                    </li>
                    {% empty %}
                    <li>現在還沒有工作喔</li>
                    {% endfor %}
                </ul>

                <div class="bottom_text">
                    <a href="/proposal_checked/{{pair.activity_object.id}}">檢視完整企劃</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2 style="position: relative; text-align: center; margin-top:10px;">
            _完成_
        </h2>

        <div class="finish">
            {% for pair in finished %}
            <div class="proposal">
                <h3>{{ pair.activity_object.activity_name }}</h3>
                <ul>
                    {% for job in pair.jobs %}
                    <li><div style="
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    "><div>{{job.title}}</div><div>{{job.dead_line}}</div></div>
                    </li>
                    {% empty %}
                    <li>現在還沒有工作喔</li>
                    {% endfor %}
                </ul>

                <div class="bottom_text">
                    <a href="/proposal_checked/{{pair.activity_object.id}}">檢視完整企劃</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    </div>
    <div class="edit_proposal">
        <a href="/proposal_create"><i class="fa-solid fa-plus fa-2x center "></i></a>
    </div>

    <div class="plus_proposal" style="cursor: pointer;">
        <a  onclick="input()"><i class="fa-solid fa-bold fa-2x center "></i></a>
    </div>



</body>

</html>