<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/project/css/proposal_create_function1.css" />
    <link rel="stylesheet" href="../static/project/css/sidebar.css" />
    <link rel="stylesheet" href="../static/project/css/dot1.css" />

    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="background"></div>

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="../static/project/images/logo/logoE.svg" alt="">
            </div>

            <div class="nav_table">
                <ul class="test">
                    <a href="/event_index">
                        <li><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</li>
                    </a>
                    <a href="/myproposal">
                        <li style="opacity: 0.7;"><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</li>
                    </a>
                    <a href="/mywork">
                        <li><i class="icon fa-solid fa-book fa-1x"></i>我的工作</li>
                    </a>
                    <a href="/colla_index">
                        <li><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</li>
                    </a>
                    <a href="/social_index">
                        <li><i class="icon fa-solid fa-comment fa-1x"></i>社群</li>
                    </a>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <a href="/information">
                                <li>主頁</li>
                            </a>
                            <a href="/myproposal">
                                <li>我的企劃</li>
                            </a>
                            <a href="/mywork">
                                <li>我的工作</li>
                            </a>
                            <a href="/colla_index">
                                <li>合作店家</li>
                            </a>
                            <a href="/social_index">
                                <li>社群</li>
                            </a>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <a href="/information">
                                <li>個人檔案</li>
                            </a>
                            <a href="/">
                                <li>設定</li>
                            </a>
                            <a href="/logout">
                                <li>登出</li>
                            </a>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="/#"><i class="fa-brands fa-facebook"></i></a>
                <a href="/#"><i class="fa-brands fa-github"></i></a>
                <a href="/#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">

        <div class="detail" style="    left: 5%;
        max-width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;">
            我的企劃 > {{activity.activity_name}} > 編輯企劃 > 新增工作
        </div>

        <div class="header_text">
            <b>{{user.user_name}}用戶</b>
        </div>


        <div class="dot">
            <div class="dot_list">
                <ul>
                    <a href="/information">
                        <li>個人檔案</li>
                    </a>
                    <a href="/">
                        <li>設定</li>
                    </a>
                    <a href="/logout">
                        <li>登出</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>{{user.user_name}}用戶</h2>
    </div>

    <!--header end-->

    <div class="container">
        <div class="main_function">
            <div class="deal_square">
                <div class="work_add">
                    <form method="post">
                    {% csrf_token %}
                    <div class="A">
                        {% if alert %}
                        <h2>{{alert}}</h2>
                        {% endif %}
                        <p>
                            工作名稱
                            <br>
                            <input type="text" name="title">
                        </p>
                        <p>
                            負責人
                            <br>
                            <select id="person_in_charge_email" name="person_in_charge_email">
                                {% for collaborator in collaborators %}
                                <option value="{{collaborator.user_email.user_email}}">{{collaborator.user_email.user_email}}</option>
                                {% endfor %}
                            </select>
                        </p>

                        <p>
                            到期時間
                            <br>
                            <input type="date" name="dead_line">
                        </p>
                    </div>

                    <div class="B">
                        <p>工作內容</p>
                        {% if job.content %}
                        <textarea name="content" id="content">{{job.content}}</textarea>
                        {% else %}
                        <textarea name="content" id="content"></textarea>
                        {% endif %}
                    </div>

                    <div class="button">
                        <input type="submit" value="送出資料">
                    </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="function_menu">
            <a href="/"><i class="fa-solid fa-ellipsis fa-2x center "></i></a>
            <div class="list" style="height: auto;">
                <ul>
                    </a>
                    <a href="/proposal_create_function2/{{activity.id}}">
                        <li>查看工作</li>
                    </a>
                    <a href="/proposal_create_function3/{{activity.id}}">
                        <li>新增協作人員</li>
                    </a>
                    <a href="/proposal_create_function4/{{activity.id}}">
                        <li>查看協作人員</li>
                    </a>
                    <a href="/myproposal">
                        <li style="border: none;">完成企劃</li>
                    </a>
                </ul>
            </div>
        </div>

    </div>

</body>

</html>