<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    </title>
    <link rel="stylesheet" href="../static/project/css/proposal_checked.css" />
    <link rel="stylesheet" href="../static/project/css/sidebar.css" />
    <link rel="stylesheet" href="../static/project/css/dot2.css">
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="background"></div>

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="../static/project/images/logo/logoE.svg" alt="">
            </div>

            <div class="nav_table">
                <ul class="test">
                    <a href="/event_index">
                        <li><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</li>
                    </a>
                    <a href="/myproposal">
                        <li style="opacity: 0.7;"><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</li>
                    </a>
                    <a href="/mywork">
                        <li><i class="icon fa-solid fa-book fa-1x"></i>我的工作</li>
                    </a>
                    <a href="/colla_index">
                        <li><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</li>
                    </a>
                    <a href="/social_index">
                        <li><i class="icon fa-solid fa-comment fa-1x"></i>社群</li>
                    </a>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <a href="/information">
                                <li>主頁</li>
                            </a>
                            <a href="/myproposal">
                                <li>我的企劃</li>
                            </a>
                            <a href="/mywork">
                                <li>我的工作</li>
                            </a>
                            <a href="/colla_index">
                                <li>合作店家</li>
                            </a>
                            <a href="/social_index">
                                <li>社群</li>
                            </a>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <a href="/information">
                                <li>個人檔案</li>
                            </a>
                            <a href="/">
                                <li>設定</li>
                            </a>
                            <a href="/logout">
                                <li>登出</li>
                            </a>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="/#"><i class="fa-brands fa-facebook"></i></a>
                <a href="/#"><i class="fa-brands fa-github"></i></a>
                <a href="/#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">

        <div class="detail">
            我的企劃 > {{activity.activity_name}}
        </div>

        <div class="header_text">
            <b>{{user.user_name}}用戶</b>
        </div>


        <div class="dot">
            <div class="dot_list">
                <ul>
                    <a href="/information">
                        <li>個人檔案</li>
                    </a>
                    <a href="/">
                        <li>設定</li>
                    </a>
                    <a href="/logout">
                        <li>登出</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>{{ user.user_name }}用戶</h2>
    </div>

    <!--header end-->

    <div class="container">
        {% for pair in pairs %}
        <div class="work">
            <ul>
                <li style="border-radius: 0.375rem 0.375rem 0px 0px;"><b>{{pair.job_object.title}}</b></li>
                <li>{{pair.job_object.person_in_charge_email.user_name}}</li>
                <li>{{pair.job_object.status.status_name}}</li>
                <li>{{pair.job_object.dead_line | date:'Y/m/d'}}</li>
            </ul>
            <div class="description">
                {% for job_detail_object in pair.job_details %}
                {{job_detail_object.content}}
                {% endfor %}
            </div>

            <div class="bottom">
                <a href="/proposal_work_checked/{{pair.job_object.id}}">點擊檢視完整工作</a>
            </div>
        </div>
        {% empty %}
        <div class="work">
            <ul>
                <li style="border-radius: 0.375rem 0.375rem 0px 0px;"><b>目前還沒分配工作</b></li>

            </ul>
            <div class="description">
            </div>

            <div class="bottom">
            </div>
        </div>
        {% endfor %}

        <div class="edit_proposal" style="bottom: 115px;">
            <a href="/proposal_delete/{{activity.id}}"><i class="fa-solid fa-minus fa-2x center"></i></i></a>

        <div class="plus_proposal">
            <a href="/proposal_post/{{activity.id}}"><i class="fa-solid fa-check fa-2x center"></i></a>
        </div>

        <div class="edit_proposal">
            <a href="/proposal_create_function2/{{activity.id}}"><i class="fa-solid fa-pen fa-2x center"></i></a>
        </div>

    </div>

</body>

</html>