<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    </title>
    <link rel="stylesheet" href="../static/project/css/shop_index.css" />
    <link rel="stylesheet" href="../static/project/css/sidebar_shop.css" />
    <link rel="stylesheet" href="../static/project/css/dot2.css">
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- background start -->
    <div class="background"></div>
    <!-- background end -->

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="../static/project/images/logo/logoE.svg" alt="">
            </div>

            <div class="nav_table">
                <ul class="test">
                    <li><a href="./shop_index.html"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</a></li>
                    <li><a href="./shop_status.html"><i class="icon fa-solid fa-list fa-1x"></i>確認狀態</a></li>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <li><a href="./shop_index.html">主頁</a></li>
                            <li><a href="./shop_status.html">狀態確認</a></li>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <a href="information.html">
                                <li>個人檔案</li>
                            </a>
                            <a href="">
                                <li>設定</li>
                            </a>
                            <a href="../tailwind/index.html">
                                <li>登出</li>
                            </a>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">

        <h3 class="header_text">店家註冊</h3>

        <div class="dot">
            <div class="dot_list">
                <ul>
                    <a href="information.html">
                        <li>個人檔案</li>
                    </a>
                    <a href="">
                        <li>設定</li>
                    </a>
                    <a href="../tailwind/index.html">
                        <li>登出</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>店家註冊</h2>
    </div>
    <!--header end-->

    <div class="container">
        <div class="deal_square">

            <div class="computer">

                <table>
                    <tr>
                        <th colspan="2"><img src="assets/image/MC.png" alt=""></th>
                    </tr>

                    <tr>
                        <th>店家名稱</th>
                        <th style="text-align: left;">麥當勞</th>
                    </tr>

                    <tr>
                        <th>聯絡資訊</th>
                        <th style="text-align: left;">mc@gmail.com</th>
                    </tr>

                    <tr>
                        <th>服務地點</th>
                        <th style="text-align: left;">台北</th>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <p>醒虎杖會的該，我在很好沒問題好看，到有人中有在電視一次經是⋯要好，不重要現在很離職個小⋯能不因為謂的太一樣ㄧㄤ，的打也無法⋯兄弟真的不，來後他新居搬。</p>
                            <br>
                            <p>出手理是大代好像比快點家一語言⋯點月質了一些可能。要嗚嗚嗚來就是真的，結果還⋯我都就可以別的的，然夢想的孩子報的部：我笑前陣子所有⋯聖誕快很的或是們在要。妳哈哈次看心臟幕啊啊啊，的我小可愛身麼的或都有過這，還要占卜師說全，這種要自己的好像有，道在還沒回覆我都，一。
                            </p>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="mobile">
                <div class="row">
                    <div class="cell"><img src="./assets/image/MC.png" alt=""></div class="cell">
                </div class="row">

                <div class="row">
                    <div class="cell">麥當勞</div class="cell">
                </div class="row">

                <div class="row">
                    <div class="cell">MC@gmail.com</div class="cell">
                </div class="row">

                <div class="row">
                    <div class="cell">台北</div class="cell">
                </div class="row">

                <div class="row">
                    <div class="cell" style="font-size:18px;">
                        <p>醒虎杖會的該，我在很好沒問題好看，到有人中有在電視一次經是⋯要好，不重要現在很離職個小⋯能不因為謂的太一樣ㄧㄤ，的打也無法⋯兄弟真的不，來後他新居搬。</p>
                        <br>
                        <p>出手理是大代好像比快點家一語言⋯點月質了一些可能。要嗚嗚嗚來就是真的，結果還⋯我都就可以別的的，然夢想的孩子報的部：我笑前陣子所有⋯聖誕快很的或是們在要。妳哈哈次看心臟幕啊啊啊，的我小可愛身麼的或都有過這，還要占卜師說全，這種要自己的好像有，道在還沒回覆我都，一。
                        </p>
                    </div class="cell">
                </div class="row">
            </div>

        </div>

        <div class="edit_proposal">
            <a href="shop.html"><i class="fa-solid fa-pen fa-2x center "></i></a>
        </div>

    </div>



</body>

</html>