<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    </title>
    <link rel="stylesheet" href="../static/project/css/work_checked.css" />
    <link rel="stylesheet" href="../static/project/css/sidebar.css" />
    <link rel="stylesheet" href="../static/project/css/dot_work.css">
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="background"></div>

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="../static/project/images/logo/logoE.svg" alt="">
            </div>

            <div class="nav_table">
                <ul class="test">
                    <a href={%url 'event_index'%}>
                        <li style="opacity: 0.7;"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</li>
                    </a>
                    <a href={%url 'myproposal'%}>
                        <li><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</li>
                    </a>
                    <a href={%url 'mywork'%}>
                        <li><i class="icon fa-solid fa-book fa-1x"></i>我的工作</li>
                    </a>
                    <a href={%url 'colla_index'%}>
                        <li><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</li>
                    </a>
                    <a href={%url 'social_index'%}>
                        <li><i class="icon fa-solid fa-comment fa-1x"></i>社群</li>
                    </a>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <a href={%url 'information'%}>
                                <li>主頁</li>
                            </a>
                            <a href={%url 'myproposal'%}>
                                <li>我的企劃</li>
                            </a>
                            <a href={%url 'mywork'%}>
                                <li>我的工作</li>
                            </a>
                            <a href={%url 'colla_index'%}>
                                <li>合作店家</li>
                            </a>
                            <a href={%url 'social_index'%}>
                                <li>社群</li>
                            </a>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <a href={%url 'information'%}>
                                <li>個人檔案</li>
                            </a>
                            <a href="">
                                <li>設定</li>
                            </a>
                            <a href={%url 'logout'%}>
                                <li>登出</li>
                            </a>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">

        <div class="detail">
            工作檢視
        </div>

        <div class="header_text">
            <b>{{user.user_name}}</b>
        </div>


        <div class="dot">
            <div class="dot_list">
                <ul>
                    <a href={%url 'information'%}>
                        <li>個人檔案</li>
                    </a>
                    <a href="">
                        <li>設定</li>
                    </a>
                    <a href={%url 'logout'%}>
                        <li>登出</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>{{user.user_name}}</h2>
    </div>

    <!--header end-->

    <div class="container">

        <div class="deal_square">
            <table>
                <tr>
                    <th>企劃</th>
                    <th style="text-align: left;">{{job.activity.activity_name}}</th>
                </tr>

                <tr>
                    <th>負責人</th>
                    <th style="text-align: left;">{{job.person_in_charge_email.user_name}}</th>
                </tr>

                <tr>
                    <th>到期時間</th>
                    <th style="text-align: left;">{{job.dead_line | date:'Y/m/d'}}</th>
                </tr>

                <tr>
                    <th>工作狀態</th>
                    <th style="text-align: left;">{{job.status.status_name}}</th>
                </tr>

                <tr>
                    <td colspan="2">
                        {{job.content}}
                    </td>
                </tr>
            </table>
        </div>

        <div class="function_menu">
            <a href=""><i class="fa-solid fa-ellipsis fa-2x center "></i></a>
            <div class="list">
                <ul>
                    <a href={%url 'work_checked4' job.id%}>
                        <li>工作回報</li>
                    </a>
                    <a href={%url 'work_checked2' job.id%}>
                        <li>增加工作細項</li>
                    </a>
                </ul>
            </div>
        </div>

    </div>

</body>

</html>