<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    </title>
    <link rel="stylesheet" href="/static/project/css/work_checked_proposal.css" />
    <link rel="stylesheet" href="/static/project/css/sidebar.css" />
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>


    <div class="background"></div>

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <h2>專案管理系統</h2>

            <div class="nav_table">
                <ul class="test">
                    <li><a href="event_index.html"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</a></li>
                    <li><a href="myproposal.html"><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</a></li>
                    <li><a href="mywork.html"><i class="icon fa-solid fa-book fa-1x"></i>我的工作</a></li>
                    <li><a href="colla_index.html"><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</a></li>
                    <li><a href=""><i class="icon fa-solid fa-comment fa-1x"></i>社群</a></li>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <li><a href="information.html">主頁</a></li>
                            <li><a href="myproposal.html">我的企劃</a></li>
                            <li><a href="mywork.html">我的工作</a></li>
                            <li><a href="colla_index.html">合作店家</a></li>
                            <li><a href="">社群</a></li>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <li><a href="information.html">個人檔案</a></li>
                            <li><a href="">設定</a></li>
                            <li><a href="">登出</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">
        <h3 class="header_text">工作名稱</h3>

        <div class="dot">
            <div class="dot_list">
                <ul>
                    <div class="">
                        <li><a href="information.html">個人檔案</a></li>
                    </div>
                    <div class="">
                        <li><a href="">設定</a></li>
                    </div>
                    <div class="">
                        <li><a href="">登出</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>工作名稱</h2>
    </div>

    <!--header end-->
    <div class="container">
        <div class="deal_square">

            <table>
                <tr>
                    <th>企劃</th>
                    <th style="text-align: left;">企劃名稱</th>
                </tr>

                <tr>
                    <th>負責人</th>
                    <th style="text-align: left;">負責人姓名</th>
                </tr>

                <tr>
                    <td colspan="2">
                        就我個人來說，就我個人來說，就我個人來說，就我個人來說，就我個人來說
                    </td>
                </tr>

            </table>

            
        </div>

        <div class="button">
            <a href="proposal_checked.html"><input type="button" value="返回"></a>
        </div>
    </div>




</body>

</html>