<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    </title>
    <link rel="stylesheet" href="/static/project/css/work_checked3.css" />
    <link rel="stylesheet" href="/static/project/css/sidebar.css" />
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>


    <div class="background"></div>

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <h2>專案管理系統</h2>

            <div class="nav_table">
                <ul class="test">
                    <li><a href="event_index.html"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</a></li>
                    <li><a href="myproposal.html"><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</a></li>
                    <li><a href="mywork.html"><i class="icon fa-solid fa-book fa-1x"></i>我的工作</a></li>
                    <li><a href="colla_index.html"><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</a></li>
                    <li><a href=""><i class="icon fa-solid fa-comment fa-1x"></i>社群</a></li>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <li><a href="information.html">主頁</a></li>
                            <li><a href="myproposal.html">我的企劃</a></li>
                            <li><a href="mywork.html">我的工作</a></li>
                            <li><a href="colla_index.html">合作店家</a></li>
                            <li><a href="">社群</a></li>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <li><a href="information.html">個人檔案</a></li>
                            <li><a href="">設定</a></li>
                            <li><a href="">登出</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">
        <h3 class="header_text">工作名稱</h3>

        <div class="dot">
            <div class="dot_list">
                <ul>
                    <div class="">
                        <li><a href="information.html">個人檔案</a></li>
                    </div>
                    <div class="">
                        <li><a href="">設定</a></li>
                    </div>
                    <div class="">
                        <li><a href="">登出</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>工作名稱</h2>
    </div>

    <!--header end-->
    <div class="container">
        <div class="deal_square">

            <table>
                <tr>
                    <th>企劃</th>
                    <th style="text-align: left;">企劃名稱</th>
                </tr>

                <tr>
                    <th>負責人</th>
                    <th style="text-align: left;">負責人姓名</th>
                </tr>

                <tr>                    
                    <th colspan="2">
                        工作簡介
                    </th>
                </tr>

                <tr>
                    <td colspan="2">
                        更多生活的意義是這樣的，你真的了解生活嗎？吉姆·羅恩有講過一句名言，要麽你主宰生活，要麽你被生活主宰。這讓我深深地想到，至於為什麼要思考生活呢？其實是有更深層的原因，生活，到底應該如何實現。既然是這樣，我們一般認為，抓住了問題的關鍵，其他一切則會迎刃而解。現在，解決生活的問題，是非常非常重要的。 所以，一般來講，我們都必須務必慎重的考慮考慮。為什麼生活對我們來說這麼重要？我認為，奧斯特洛夫斯基講過一句話，人應該支配習慣，而決不能讓習慣支配人，一個人不能去掉他的壞習慣，那簡直一文不值。這讓我深深地想到，生活因何而發生？馬爾頓曾經說過，堅強的信心，能使平凡的人做出驚人的事業。帶著這句話，我們還要更加慎重的審視這個問題：其實生活是非常值得我們深思的。既然如此，生活的發生，到底需要如何做到，不生活的發生，又會如何產生。孟子有一句名言，窮則獨善其身，達則兼濟天下。這不禁令我深思。這種事實對本人來說意義重大，相信對這個世界也是有一定意義的。伏爾泰有一句名言，不經巨大的困難，不會有偉大的事業。這不禁令我深思。要想清楚，生活，到底是一種怎麽樣的存在。克勞斯·莫瑟爵士有講過一句名言，教育需要花費錢，而無知也是一樣。我希望諸位也能好好地體會這句話。裴斯泰洛齊曾經說過一句發人深省的話，今天應做的事沒有做，明天再早也是耽誤了。帶著這句話，我們還要更加慎重的審視這個問題：生活的意義其實就隱藏在我們的生活中，那麽，生活中，若生活出現了，我們就不得不考慮它出現了的事實。
                    </td>
                </tr>

                <tr>
                    <th colspan="2">
                        工作細項
                    </th>
                </tr>

                <tr>
                    <td colspan="2">
                        更多生活的意義是這樣的，你真的了解生活嗎？吉姆·羅恩有講過一句名言，要麽你主宰生活，要麽你被生活主宰。這讓我深深地想到，至於為什麼要思考生活呢？其實是有更深層的原因，生活，到底應該如何實現。既然是這樣，我們一般認為，抓住了問題的關鍵，其他一切則會迎刃而解。現在，解決生活的問題，是非常非常重要的。 所以，一般來講，我們都必須務必慎重的考慮考慮。為什麼生活對我們來說這麼重要？我認為，奧斯特洛夫斯基講過一句話，人應該支配習慣，而決不能讓習慣支配人，一個人不能去掉他的壞習慣，那簡直一文不值。這讓我深深地想到，生活因何而發生？馬爾頓曾經說過，堅強的信心，能使平凡的人做出驚人的事業。帶著這句話，我們還要更加慎重的審視這個問題：其實生活是非常值得我們深思的。既然如此，生活的發生，到底需要如何做到，不生活的發生，又會如何產生。孟子有一句名言，窮則獨善其身，達則兼濟天下。這不禁令我深思。這種事實對本人來說意義重大，相信對這個世界也是有一定意義的。伏爾泰有一句名言，不經巨大的困難，不會有偉大的事業。這不禁令我深思。要想清楚，生活，到底是一種怎麽樣的存在。克勞斯·莫瑟爵士有講過一句名言，教育需要花費錢，而無知也是一樣。我希望諸位也能好好地體會這句話。裴斯泰洛齊曾經說過一句發人深省的話，今天應做的事沒有做，明天再早也是耽誤了。帶著這句話，我們還要更加慎重的審視這個問題：生活的意義其實就隱藏在我們的生活中，那麽，生活中，若生活出現了，我們就不得不考慮它出現了的事實。
                    </td>
                </tr>

            </table>

            
        </div>

        <div class="button">
            <a href="work_checked4.html"><input type="button" value="工作回報"></a>
            <a href="work_checked2.html"><input type="button" value="增加細項"></a>
        </div>

    </div>




</body>

</html>