<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    </title>
    <link rel="stylesheet" href="/static/project/css/work_checked2.css" />
    <link rel="stylesheet" href="/static/project/css/sidebar.css" />
    <link rel="stylesheet" href="/static/project/css/dot_work.css">
    <script src="https://kit.fontawesome.com/0383c5fdd8.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="background"></div>

    <!--Nav start-->
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="/static/project/images/logo/logoE.svg" alt="">
            </div>

            <div class="nav_table">
                <ul class="test">
                    <a href={%url 'event_index'%}>
                        <li style="opacity: 0.7;"><i class="icon fa-solid fa-house-user fa-1x"></i>主頁</li>
                    </a>
                    <a href={%url 'myproposal'%}>
                        <li><i class="icon fa-solid fa-list fa-1x"></i>我的企劃</li>
                    </a>
                    <a href={%url 'mywork'%}>
                        <li><i class="icon fa-solid fa-book fa-1x"></i>我的工作</li>
                    </a>
                    <a href={%url 'colla_index'%}>
                        <li><i class="icon fa-solid fa-user-group fa-1x"></i>合作店家</li>
                    </a>
                    <a href={%url 'social_index'%}>
                        <li><i class="icon fa-solid fa-comment fa-1x"></i>社群</li>
                    </a>
                </ul>
            </div>

            <div class="nav_mobile">
                <div class="function">
                    <i class="fa-solid fa-bars fa-2xl" style="color: white;"></i>
                    <div class="function_list">
                        <ul>
                            <a href={%url 'information'%}>
                                <li>主頁</li>
                            </a>
                            <a href={%url 'myproposal'%}>
                                <li>我的企劃</li>
                            </a>
                            <a href={%url 'mywork'%}>
                                <li>我的工作</li>
                            </a>
                            <a href={%url 'colla_index'%}>
                                <li>合作店家</li>
                            </a>
                            <a href={%url 'social_index'%}>
                                <li>社群</li>
                            </a>
                        </ul>
                    </div>
                </div>

                <div class="indi">
                    <div class="indi_list">
                        <ul>
                            <a href={%url 'information'%}>
                                <li>個人檔案</li>
                            </a>
                            <a href="">
                                <li>設定</li>
                            </a>
                            <a href={%url 'logout'%}>
                                <li>登出</li>
                            </a>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <!--Nav end-->

    <!--header start-->
    <div class="header_table">

        <div class="detail">
            新增工作細項
        </div>

        <div class="header_text">
            <b>{{user.user_name}}</b>
        </div>


        <div class="dot">
            <div class="dot_list">
                <ul>
                    <a href={%url 'information'%}>
                        <li>個人檔案</li>
                    </a>
                    <a href="">
                        <li>設定</li>
                    </a>
                    <a href={%url 'logout'%}>
                        <li>登出</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_mobile">
        <h2>{{user.user_name}}</h2>
    </div>

    <!--header end-->

    <div class="container">
        <div class="deal_square">
            <div class="new_square">

                <div class="decorate1">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="1.39737" cy="38.6026" r="1.39737" transform="rotate(-90 1.39737 38.6026)"
                            fill="#3056D3"></circle>
                        <circle cx="1.39737" cy="1.99122" r="1.39737" transform="rotate(-90 1.39737 1.99122)"
                            fill="#3056D3"></circle>
                        <circle cx="13.6943" cy="38.6026" r="1.39737" transform="rotate(-90 13.6943 38.6026)"
                            fill="#3056D3"></circle>
                        <circle cx="13.6943" cy="1.99122" r="1.39737" transform="rotate(-90 13.6943 1.99122)"
                            fill="#3056D3"></circle>
                        <circle cx="25.9911" cy="38.6026" r="1.39737" transform="rotate(-90 25.9911 38.6026)"
                            fill="#3056D3"></circle>
                        <circle cx="25.9911" cy="1.99122" r="1.39737" transform="rotate(-90 25.9911 1.99122)"
                            fill="#3056D3"></circle>
                        <circle cx="38.288" cy="38.6026" r="1.39737" transform="rotate(-90 38.288 38.6026)"
                            fill="#3056D3">
                        </circle>
                        <circle cx="38.288" cy="1.99122" r="1.39737" transform="rotate(-90 38.288 1.99122)"
                            fill="#3056D3">
                        </circle>
                        <circle cx="1.39737" cy="26.3057" r="1.39737" transform="rotate(-90 1.39737 26.3057)"
                            fill="#3056D3"></circle>
                        <circle cx="13.6943" cy="26.3057" r="1.39737" transform="rotate(-90 13.6943 26.3057)"
                            fill="#3056D3"></circle>
                        <circle cx="25.9911" cy="26.3057" r="1.39737" transform="rotate(-90 25.9911 26.3057)"
                            fill="#3056D3"></circle>
                        <circle cx="38.288" cy="26.3057" r="1.39737" transform="rotate(-90 38.288 26.3057)"
                            fill="#3056D3">
                        </circle>
                        <circle cx="1.39737" cy="14.0086" r="1.39737" transform="rotate(-90 1.39737 14.0086)"
                            fill="#3056D3"></circle>
                        <circle cx="13.6943" cy="14.0086" r="1.39737" transform="rotate(-90 13.6943 14.0086)"
                            fill="#3056D3"></circle>
                        <circle cx="25.9911" cy="14.0086" r="1.39737" transform="rotate(-90 25.9911 14.0086)"
                            fill="#3056D3"></circle>
                        <circle cx="38.288" cy="14.0086" r="1.39737" transform="rotate(-90 38.288 14.0086)"
                            fill="#3056D3">
                        </circle>
                    </svg>
                </div>

                <div class="decorate2">
                    <svg width="29" height="40" viewBox="0 0 29 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2.288" cy="25.9912" r="1.39737" transform="rotate(-90 2.288 25.9912)"
                            fill="#3056D3"></circle>
                        <circle cx="14.5849" cy="25.9911" r="1.39737" transform="rotate(-90 14.5849 25.9911)"
                            fill="#3056D3"></circle>
                        <circle cx="26.7216" cy="25.9911" r="1.39737" transform="rotate(-90 26.7216 25.9911)"
                            fill="#3056D3"></circle>
                        <circle cx="2.288" cy="13.6944" r="1.39737" transform="rotate(-90 2.288 13.6944)"
                            fill="#3056D3"></circle>
                        <circle cx="14.5849" cy="13.6943" r="1.39737" transform="rotate(-90 14.5849 13.6943)"
                            fill="#3056D3"></circle>
                        <circle cx="26.7216" cy="13.6943" r="1.39737" transform="rotate(-90 26.7216 13.6943)"
                            fill="#3056D3"></circle>
                        <circle cx="2.288" cy="38.0087" r="1.39737" transform="rotate(-90 2.288 38.0087)"
                            fill="#3056D3"></circle>
                        <circle cx="2.288" cy="1.39739" r="1.39737" transform="rotate(-90 2.288 1.39739)"
                            fill="#3056D3"></circle>
                        <circle cx="14.5849" cy="38.0089" r="1.39737" transform="rotate(-90 14.5849 38.0089)"
                            fill="#3056D3"></circle>
                        <circle cx="26.7216" cy="38.0089" r="1.39737" transform="rotate(-90 26.7216 38.0089)"
                            fill="#3056D3"></circle>
                        <circle cx="14.5849" cy="1.39761" r="1.39737" transform="rotate(-90 14.5849 1.39761)"
                            fill="#3056D3"></circle>
                        <circle cx="26.7216" cy="1.39761" r="1.39737" transform="rotate(-90 26.7216 1.39761)"
                            fill="#3056D3"></circle>
                    </svg>
                </div>
            <form method="post">
                {% csrf_token %}
                <div class="content">
                    <h2>新增工作細項</h2>
                    <textarea name="content_data" ></textarea>
                    <input type="submit" value="確定">
                </div>
            </form>
            </div>

        </div>

        <div class="function_menu">
            <a href=""><i class="fa-solid fa-ellipsis fa-2x center "></i></a>
            <div class="list">
                <ul>
                   
                    <a href={%url 'work_checked3' job.id%}>
                        <li>返回工作</li>
                    </a>
                    
                </ul>
            </div>
        </div>

    </div>




</body>

</html>