.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 200px);
    height: calc(100% - 100px);
    margin-left: 200px;
}

.container .work {
    background-color: #F3F4FE;
    position: relative;
    height: 350px;
    width: 350px;
    border: 1px solid black;
    text-align: center;
    margin: 20px 40px;
}

.container .work ul li {
    background-color: white;
    width: 200px;
    line-height: 20px;
    margin: 25px auto;
    border: 1px solid black;
}

.container .work .description {
    margin: auto;
    height: 180px;
    width: 200px;
}


@media screen and (max-width:768px) {
    .container {
        justify-content: center;
        width: 100%;
        top: 130px;
        margin-left: 0;
        z-index: 0;
    }

    .container .work ul li {
        width: 250px;
    }

    .container .work .description {
        width: 250px;
    }

}