.container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    top: 25px;
}

.container .function_menu{
    position: relative;
    display: flex;
    width: 800px;
    height: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.container .function_menu .function{
    flex: 1;
    text-align: center;
    height:100%;
    line-height: 50px;
    border: 1px solid black;
}

.main_function{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    top: 50px;
    height: 70%;
}

.main_function .deal_square{
    background-color: white;
    position: relative;
    width: 80%;
    height: 100%;
    border: 1px solid black;
}

.main_function .deal_square .work_add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_function .deal_square .work_add form{
    text-align: center;
}

.main_function .deal_square .work_add form p{
    font-size: 30px;
}

.main_function .deal_square .work_add form input[type=text]{
    width: 300px;
    margin: 5px 0;
}

.main_function .deal_square .work_add form textarea{
    width: 400px;
    height: 300px;
    margin: 5px 0;
}

.main_function .deal_square .colla_add{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_function .deal_square .colla_add .container_colla_add{
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.main_function .deal_square .colla_add .container_colla_add .code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200px;
    text-align: center;
}

.main_function .deal_square .colla_add .container_colla_add .code p{
    font-size: 20px;

}

.main_function .deal_square .colla_add .container_colla_add .colla_email{
    font-size: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_function .deal_square .colla_add .container_colla_add .colla_email input{
    width: 300px;
}

.main_function .deal_square .colla_check{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_function .deal_square .colla_check .human{
    border: 1px solid black;
    width: 20%;
    height: 100px;
    line-height: 50px;
    text-align: center;
    margin: 0 10px;
}


@media  screen and  (max-width:768px){
    .container{
        z-index: 0;
        margin-left: 0;
        top: 130px;
    }
    
    .function_menu{
        z-index: 0;
        width: 400px;
    }
    
    .function_menu .function{
        z-index: 0;
        line-height: 50px;
        border: 1px solid black;
    }

    .main_function{
        margin-left: 0;
        top: 150px;
    }

    .main_function .deal_square{
        width: 80%;
        height: 500px;
        overflow: auto;
    }
    
    .main_function .deal_square .work_add form p{
        font-size: 20px;
    }

    .main_function .deal_square .work_add form input[type=text]{
        width: 200px;
        margin: 5px 0;
    }
    
    .main_function .deal_square .work_add form textarea{
        width: 200px;
        height: 200px;
        margin: 5px 0;
    }
 
    .main_function .deal_square .colla_add .container_colla_add{
        width: 300px;
        height: 300px;
    }
    
    .main_function .deal_square .colla_add .container_colla_add .code{
        height:150px;
    }
    
    .main_function .deal_square .colla_add .container_colla_add .colla_email{
        height: 150px;
    }
    
    .main_function .deal_square .colla_add .container_colla_add .colla_email input{
        width: 200px;
    }

    .main_function .deal_square .colla_check{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .main_function .deal_square .colla_check .human{
        border: 1px solid black;
        width: 150px;
        height: 50px;
        line-height: 25px;
        text-align: center;
        margin: 10px 10px;
    }

}