.container{
    top:10px
}

.container .deal_square{
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 750px;
    background-color: white;
}

.deal_square .new_square{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 525px;
    height: 600px;
    top: 50px;
    border-radius: 0.375rem;
    box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 5%);
}

.deal_square .new_square .decorate1{
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}

.deal_square .new_square .decorate2{
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
}

.deal_square .new_square .content{
    font-size: 30px;
    text-align: center;
}

.deal_square .new_square .content p{
    font-size: 30px;
    margin: 15px 0;
}

.container .content .button{
    position: relative;
}

.container .content .button input{
    width: 240px;
    font-size: 30px;
    background-color: rgb(48 86 211);
    margin-top: 30px;
    color: white;
    border: none;
    border-radius: 0.375rem;
}


@media  screen and  (max-width:768px){
    .container{
        position: relative;
        width: 100%;
        margin-left: 0;
    }

    .container .deal_square{
        margin: 10px auto;
        height: 650px;
    }

    .deal_square .new_square{
        width: 375px;
        height: 500px;
        top: 25px;
        border-radius: 0.375rem;
        box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 5%);
    }

    .deal_square .new_square .content{
        font-size: 25px;
    }

    .deal_square .new_square .content p{
        font-size: 25px;
    }

    .container .content .button input{
        width: 140px;
        margin-top: 25px;
    }
    
}
