.container{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    width: calc(100% - 200px);
}

.container .deal_square{
    background-color: white;
    position: relative;
    width: 80%;
    height: 800px;
}

.container .deal_square .work_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.container .deal_square .work_list .work{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    margin: 15px;
}

.container .deal_square .work_list .work .proposal_name{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid black;
}

.container .deal_square .work_list .work .work_name{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid black;
}

.container .deal_square .work_list .work .content{
    height: 200px;
    line-height: 200px;
}

@media  screen and  (max-width:768px){
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        margin-left: 0;
        top: 130px;
        width: 100%;
    }
    
    .container .deal_square{
        background-color: white;
        position: relative;
        width: 90%;
        height: fit-content;
    }
    
    .container .deal_square .work_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    
    .container .deal_square .work_list .work{
        border: 1px solid black;
        text-align: center;
        margin: 15px;
    }
    
    .container .deal_square .work_list .work .proposal_name{
        border-bottom: 1px solid black;
    }

    .container .deal_square .work_list .work .work_name{
        border-bottom: 1px solid black;
    }
    
}
