.main_function{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.main_function .deal_square{
    width: 100%;
    height: 750px;
    position: relative;
    background-color: white;
    border-radius: 0.375rem ;
    top: 20px;
}

.main_function .deal_square .colla_check{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.main_function .deal_square .colla_check .human{
    display: inline-block;
    font-size: 30px;
    box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 5%);
    border-radius: 0.375rem;
    width: 300px;
    height: 150px;
    line-height: 72.5px;
    text-align: center;
    margin: 10px 10px;
    word-break: break-all;
    overflow-y: auto;
    color:rgb(99 115 129);
}

.main_function .deal_square .colla_check .human .mail{
    font-size: 20px;
}

.main_function .deal_square .colla_check .human hr{
    border: 1px solid rgb(48 86 211 / 30%);
}

.main_function .deal_square .button input[type=button]{
    position: relative;
    width: 240px;
    font-size: 30px;
    bottom: 10px;
}

@media  screen and  (max-width:768px){
    .main_function .deal_square{
        width: 100%;
        height: 650px;
        position: relative;
        background-color: white;
        border-radius: 0.375rem ;
        top: 15px;
    }

    .main_function .deal_square .colla_check .human{
        height: 130px;
        line-height: 62.5px;
    }

    .main_function .deal_square .colla_check .human .mail{
        font-size: 18px;
    }
    
   
}